@* @using ShipSel3.Services.UnitsandListsServiceClient *@
@using ShipSel3.Models
@using SharedLibrary.Services.TestService

@inject ITestInterface TI
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment Env

@inject IUnitsandListsServiceClient ULSC 


@if (routeData.PageType != typeof(ShipSel3.Pages.PrintPage))
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Ship Selector Ver  @Settings.version</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
}


@if (routeData.PageType == typeof(ShipSel3.Pages.Index))
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">

            @foreach (var item in RuleSets)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"unitselectionrules2/{@item.Id}")"  >

                        <span aria-hidden="true"></span> @item.RulesetName
                    </NavLink>
                </div>
            }

            @* <p> @testClass.ReturnTestMessage() </p> *@

            @* 2 different ways on how to consume the service from the test service *@
            @* <p> @resultFromTestInterface</p> *@
            @* <p> @TI.ReturnTestMEssageFromInterface("From NavMenu direct call to TI object").Result.Data.ToString()</p> *@


 

        </nav>
    </div>
}

@code {
    private bool collapseNavMenu = true;
    private bool inDevelopmentMode = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private static List<SH.RuleSet> RuleSets = new List<SH.RuleSet>();

    [CascadingParameter] 
    private RouteData routeData { get; set; } = default!;
    TestClass testClass = new TestClass();

    private string resultFromTestInterface;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }

    protected override async Task OnInitializedAsync()
    {
        var response = await ULSC.GetRuleSets();
        RuleSets = response.Data;

        var response2 = await TI.ReturnTestMEssageFromInterface("From NavMenu OnInitializedAsync");
        resultFromTestInterface = response2.Data;
    }


    protected override void OnInitialized()
    {
        if (routeData is null)
            throw new NullReferenceException("No Cascaded RouteData - You must cascade RouteData in App");
    }
}
